.vtr--tableroot {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    outline-width: 0px;
    outline-style: none;
    overflow: hidden;
    user-select: none;
}
.vtr--tableroot tr.selected {
    background-color: burlywood;
}
.vtr--tableroot:focus {
    outline: none;
}

.vtr--tableroot td {
    user-select: none;
}

.vtr--tableroot table {
    border-spacing: 0px;
    table-layout: fixed;
    width: 100%;
}

.vtr--tableroot thead {
    background-color: rgb(153, 153, 250);
    color: white;
}

.vtr--tableroot th {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: gray;
}

.vtr--scrollbar {
    width: 16px;
    right: 0px;
    position: absolute;
    overflow: hidden;
    background-color: rgba(132, 175, 15, 0.445);
    outline-width: 0px;
    outline-style: none;    
    user-select: none;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, Opacity 0.3s;
    transform-origin: right top;
    bottom: 0px;    
}

.vtr--scrollbar.hidden {
    transform: scale(0);
    opacity: 0;
}

.vtr--scrollbar-grid {
    position: absolute;
    width: 16px;
    background-color: blue;
}