:root {
    --vtr-background-color: white;
    --vtr-color: black;
    --vtr-current-color: lightgray;
    --vtr-current-focus-color: red;
    --vtr-current-selected-focus-color-invert: 0;
    --vtr-font-size: 100%;
    --vtr-selected-color: white;
    --vtr-selected-background-color: blue;
    --vtr-scrollbar-width: 12px;
    --vtr-scrollbar-right-margin: 6px;
    --vtr-scrollbar-grip-radius: 999px;
    --vtr-scrollbar-grip-width: 4px;
    --vtr-scrollbar-grip-right: 1px;
    --vtr-scrollbar-grip-color: gray;
    --vtr-scrollbar-grip-active-color: var(--vtr-selected-background-color);
    --vtr-caption-color: white;
    --vtr-caption-background-color: blue;
    --vtr-caption-background-hover-color: #0063ff;
    --vtr-caption-separator-color: white;
}

.vtr--tableroot {
    background-color: var(--vtr-background-color);
    position: absolute;
    width: 100%;
    height: 100%;
    outline-width: 0px;
    outline-style: none;
    overflow: hidden;
    user-select: none;
}

.vtr--tableroot tr.isCurrent {
    outline-color: var(--vtr-current-color);
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;    
}

.vtr--tableroot tr.isSelected {
    background-color: var(--vtr-selected-background-color);
    filter: saturate(10%);
    color: var(--vtr-selected-color);
}

.vtr--tableroot:focus tr.isSelected {
    background-color: var(--vtr-selected-background-color);
    filter: saturate(100%);
    color: var(--vtr-selected-color);
}

.vtr--tableroot:focus tr.isCurrent {
    position: relative;
}
.vtr--tableroot:focus tr.isCurrent::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid var(--vtr-current-focus-color);
    border-radius: inherit;
    pointer-events: none;
}
.vtr--tableroot:focus tr.isCurrent.isSelected::after {
    filter: invert(var(--vtr-current-selected-focus-color-invert));
}

.vtr--tableroot:focus {
    outline: none;
}

.vtr--tableroot td {
    user-select: none;
}

.vtr--tableroot td.rightAligned {
    text-align: right;
}

.vtr--tableroot table {
    border-spacing: 0px;
    table-layout: fixed;
    width: 100%;
    color: var(--vtr-color);
    font-size: var(--vtr-font-size);
}

.vtr--tableroot thead {
    color: var(--vtr-caption-color);
    background-color: var(--vtr-caption-background-color);
}

.vtr--tableroot th {
    text-overflow: ellipsis;
    user-select: none;
    text-align: left;
    font-weight: normal;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--vtr-caption-separator-color);
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
}

.vtr--tableroot th:first-child {
    border-left-width: 0px;
}

.vtr--tableroot th.sortable {
    transition: background-color 0.3s;
}

.vtr--tableroot th.sortable:hover {
    background-color: var(--vtr-caption-background-hover-color);
} 

.vtr--tableroot th.sortable.subcolumn:hover {
    background-color: transparent;
} 

.vtr--tableroot th.sortable span {
    transition: background-color 0.3s;
}

.vtr--tableroot th.sortable span:hover {
    background-color: var(--vtr-caption-background-hover-color);
}

.vtr--tableroot .sortable .sortAscending:before, .vtr--tableroot .sortAscending.sortable:before {
    position: relative;
    bottom: 11px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid var(--vtr-caption-color);
    content: '';
    margin-right: 5px;
}

.vtr--tableroot .sortable .sortDescending:before, .vtr--tableroot .sortDescending.sortable:before {
    position: relative;
    top: 10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid var(--vtr-caption-color);
    content: '';
    margin-right: 5px;
}

.vtr--tableroot th.rightAligned {
    text-align: right;
}

.vtr--tableroot th .subColumns {
    display: flex;
}

.vtr--tableroot th .subColumnName {
    flex-grow: 1;
}

.vtr--tableroot tr td { 
    padding-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    transition: padding-right .4s;
}

.vtr--tableroot tr td:first-child {
    padding-left: 1px;
}

.vtr--tableroot.scrollbarActive tr td:last-child {
    padding-right: calc(3px + var(--vtr-scrollbar-right-margin));
}

.vtr--scrollbar {
    width: var(--vtr-scrollbar-width);
    right: 0px;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    outline-width: 0px;
    outline-style: none;    
    user-select: none;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, Opacity 0.3s;
    transform-origin: right top;
    bottom: 0px;    
}

.vtr--scrollbar.hidden {
    transform: scale(0);
    opacity: 0;
}

.vtr--scrollbar .grip {
    position: absolute;
    width: 16px;
    border-radius: var(--vtr-scrollbar-grip-radius);
    background-color: var(--vtr-scrollbar-grip-color);
    width: var(--vtr-scrollbar-grip-width);
    right: var(--vtr-scrollbar-grip-right);
    transition: background-color 0.5s, width 0.5s;    
}

.vtr--scrollbar .grip:active {
    background-color: var(--vtr-scrollbar-grip-active-color);
    width: calc(100% - var(--vtr-scrollbar-grip-right));
    transition: background-color 0s;
}

.vtr--scrollbar:hover .grip {
    width: calc(100% - var(--vtr-scrollbar-grip-right));
}