.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

.tableContainer {
    flex-grow: 1;
    position: relative;
    margin: 20px;
    background-color: aqua;
}

tr.invisible {
    opacity: 0.5;
}

.dragStarted {
    filter: blur(2px);
}

.card {
    height: 60px;
    margin: 10px;
    vertical-align: middle;
    border-radius: 20px;
    background-color: bisque;
}