.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

.tableContainer {
    flex-grow: 1;
    position: relative;
    margin: 20px;
    background-color: aqua;
}

tr.invisible {
    opacity: 0.5;
}

.dragStarted {
    filter: blur(2px);
}

.card {
    height: 60px;
    margin: 10px;
    vertical-align: middle;
    border-radius: 20px;
    background-color: bisque;
}

.itemNode {
    display: inline-block;
}
.itemNode.none {
    opacity: 0;
}
.itemNode:hover > div {
    border-color: black transparent transparent transparent;
}
.itemNode > div {
    width: 0;
    margin: 2px 4px;
    height: 0;
    border-style: solid;
    border-width: 6px 4.5px 0 4.5px;
    border-color: gray transparent transparent transparent;
    transition: transform 0.3s, border-color 0.4s;
    transform: rotate(-90deg);
}

.itemNode.opened > div {
    transform: rotate(0deg);
}            

.depth {
    display: inline-block;
    width: 10px;
}

.columnClass {
    color: chartreuse;
}

.opener {
    padding: 0px 10px;
}

.vtr--tableroot th.sortable .opener:hover {
    background-color: lightblue;
}

.dragging {
    background-color: yellow;
}
